@charset "UTF-8";
 		body {
            width: 100%;
            height: 100%;
            background-color: #e2e2e2;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .mainview-container {
            width: auto;
            height: 540px;
        }

        .mainview{
            height: 100%;
            display: flex;
            flex-direction: row;
        }

        .col {
            display: flex;
            flex-direction: column;
            padding: 10px;
            height: 100%;
        }

        .carousel-arrow {
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 0;
            right: 0;
        }

        .arw {
            margin: 10px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            border: none;
        }

        .fas {
            color: #fff;
            font-size: 30px;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
            transition-duration: .5s;
        }

        .carousel-text {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            margin: 10px;
        }

        .carousel-text .category {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            text-shadow: 0px 0px 15px rgba(0, 0, 0, .8);
        }

        .carousel-text .place {
            color: #fff;
            font-size: 15px;
            font-weight: 300;
            margin-top: -7px;
            padding-left: 3px;
            text-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
        }

        .carousel-inner.left img {
            height: 510px;
        }

        .carousel-inner.right img {
            padding-bottom: 10px;
            height: 260px;
        }

        /* for padding-bottom */
        .carousel-inner.right>.carousel-item>.carousel-text {
            bottom: 10px;
        }