@charset "UTF-8";

.col-sm-12 {
	text-align: center;
	color: black;
	text-decoration: none;
}

.regionCategory {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-bottom: .5px solid #000;
}

.regionItem {
	width: 100px;
	height: 40px;
	color: #000;
	cursor: pointer;
	margin: 10px 10px 0;
	transition-duration: .3s;
}

.regionItem a {
	color: #000;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Noto Sans KR', sans-serif;
}

.regionItem:hover {
	margin-bottom: -5px;
	border-bottom: 5px solid #000;
}