@charset "UTF-8";

    /* 임시 로고 */
    .top-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0;
    }
    
    .col-sm-9 a {
    	color: #000;
        text-decoration: none;
    }
    
    logo {
        color: #000;
        font-size: 17px;
        font-weight: 700;
        font-family: 'Noto Sans KR', sans-serif;
    }